:root {
	--active-link-color: #000;
	--icon-color: #000;
}

html {
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(0, 0%, 100%);
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-y: scroll;
}

a:hover {
	color: var(--active-link-color);
}
a {
	text-decoration: none;
	color: rgb(114, 113, 119);
}

#content {
	max-width: 900px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
}

header {
	font-size: 50px;
	font-weight: 100;
}

header a {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	margin-top: 60px;
}

header a img {
	width: auto;
	max-height: 100px;
	max-width: 100%;
}

nav {
	padding-right: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

nav a {
	padding: 5px 10px;
	white-space: nowrap;
}

.contact-content {
	display: flex;
	justify-content: left;
}
.contact-text {
	padding-top: 50px;
}
h1 {
	font-weight: 100;
	padding-left: 20px;
}

p {
	font-weight: 100;
	color: rgb(114, 113, 119);
}
.active-link {
	color: var(--active-link-color);
}

.image-nav {
	font-weight: 100;
	color: rgb(114, 113, 119);
	display: flex;
	justify-content: flex-end;
}
.image-nav a {
	padding: 5px 10px;
}
.text {
	padding-left: 20px;
	padding-right: 20px;
}
.illustrations {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 80px;
	margin-bottom: 60px;
}

.illustration {
	padding: 10px;
}

footer {
	text-align: center;
	margin-top: 30px;
	padding: 10px;
}

.icon {
	font-size: 24px;
	color: var(--icon-color);
	text-decoration: none;
}
